mixin allcss()
	link(href="css/main.min.css", rel="stylesheet")

mixin allcjs()
	script(src="libs/jquery/jquery.min.js")
	//-script(src="libs/@fancyapps/ui/fancybox.umd.js")
	//-script(src="libs/swiper/swiper-bundle.min.js")
	//-script(src="libs/inputmask/inputmask.min.js")
	script(src="js/libs.js")
	script(src="js/common.js")
	//-
		"@fancyapps/ui": "^4.0.0-beta.0",
		"inputmask": "^5.0.6",
		"jquery": "^3.5.1",
		"loading-attribute-polyfill": "^1.5.4",
		"swiper": "^6.8.0"