//- WP menu
mixin mnu()
	-
		var nav= { 
			"Возможности":"",
			"Как это работает":"active",
			"Продвижение":"",
			"Как подключить":"",
			"Частые вопросы":"",
			"Контакты":"",
			}
	ul.menu
		each linkPatch, linkName in nav
			li.menu-item: a(href="#" class=linkPatch)= linkName

//- menu